Repository sabrinaluo/api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.{js,ts}": ["import-sort --write", "prettier --write", "eslint --fix"]
}

perf: add .yarnclean
  .yarnclean
Due: none

refactor(auth): migrate to nestjs
  api/404.js
  api/500.js
  app.js
  middlewares/auth.js
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/constants.ts
  src/auth/jwt-auth.guard.ts
  src/auth/jwt.strategy.ts
  src/auth/local-auth.guard.ts
  src/auth/local.strategy.ts
  src/users/users.module.ts
  src/users/users.service.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

refactor(one): migrate to nestjs
  api/one/crawler/_crawler.js
  api/one/crawler/article.js
  api/one/crawler/home.js
  api/one/crawler/index.js
  api/one/crawler/question.js
  api/one/index.js
  src/app.module.ts
  src/config/index.ts
  src/main.ts
  src/one/one.controller.spec.ts
  src/one/one.controller.ts
  src/one/one.module.ts
  src/one/one.service.spec.ts
  src/one/one.service.ts
  src/one/transformers/article.ts
  src/one/transformers/home.ts
  src/one/transformers/question.ts
  src/one/types/crawler.ts
  src/one/utils/parseHtml.ts
Due: prettier --write, import-sort --write, eslint --fix

refactor(hk01): migrate to nest
  api/hk01/index.js
  src/app.module.ts
  src/hk01/data/articles.json
  src/hk01/hk01.controller.ts
  src/hk01/hk01.module.ts
  tsconfig.json
Due: prettier --write, import-sort --write, eslint --fix

refactor(database): migrate db client to prisma
  migrations/20171109065152-create-user.js
  models/index.js
  models/user.js
  package.json
  prisma/migrations/20200803004358-unique_username/README.md
  prisma/migrations/20200803004358-unique_username/schema.prisma
  prisma/migrations/20200803004358-unique_username/steps.json
  prisma/migrations/migrate.lock
  prisma/schema.prisma
  src/config/index.ts
  src/prisma/prisma.service.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

refactor(auth): migrate to nestjs, rename users to user
  api/auth/index.js
  src/app.controller.ts
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/user/user.module.ts
  src/user/user.service.ts
  src/users/users.module.ts
  src/users/users.service.ts
  utils/auth.js
  utils/index.js
Due: prettier --write, import-sort --write, eslint --fix

ci: add docker for deployment
  .dockerignore
  Dockerfile
Due: none

chore: update heroku script & engines
  package.json
Due: prettier --write

fix: allow CORS
  src/config/index.ts
  src/main.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: add config module with schema validation
  package.json
  src/auth/auth.module.ts
  src/auth/constants.ts
  src/auth/jwt.strategy.ts
  src/config/config.default.ts
  src/config/config.development.ts
  src/config/config.env.ts
  src/config/config.production.ts
  src/config/index.ts
  src/config/schema.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: getUser should not return all data
  src/auth/auth.service.ts
  src/auth/jwt.strategy.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: should generate prisma client before build
  package.json
Due: prettier --write

refactor: move auth & user controller into each module
  src/app.controller.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/user/user.controller.ts
  src/user/user.module.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: ignore .vercel
  .gitignore
Due: none

fix(build): heroku prisma env
  package.json
  scripts/heroku-build.sh
Due: prettier --write

feat: disallow crawling
  public/robots.txt
Due: none

feat: support swagger
  .lintstagedrc.json
  package.json
  src/main.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update all deps
  package.json
  src/main.ts
  src/prisma/prisma.service.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: cleanup
  .sequelizerc
Due: none

chore: update env example
  .env.sample
Due: none

refactor: replace express.static with ServeStaticModule
  package.json
  src/app.module.ts
  src/main.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

test: fix test
  src/auth/auth.service.spec.ts
  src/one/__fixtures__/home.html
  src/one/__fixtures__/home.json
  src/one/one.controller.spec.ts
  src/one/one.service.spec.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: trim space around \n
  src/one/utils/parseHtml.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: update all deps
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade all deps
  package.json
  yarn.lock
Due: prettier --write

style: ignore end of line for data folder
  .editorconfig
Due: none

chore: add download folder
  data/download/csi300/.gitkeep
  data/download/hsi50/.gitkeep
  data/download/sp500/.gitkeep
Due: none

chore: ignore download folder
  .gitignore
Due: none

chore(data): add stock list
  data/csi300.csv
  data/hsi50.csv
  data/sp500.csv
Due: none

feat: stock download with queue
  package.json
  src/app.module.ts
  src/common/utils.ts
  src/finance/__tests__/utils.spec.ts
  src/finance/finance.controller.ts
  src/finance/finance.module.ts
  src/finance/finance.processor.ts
  src/finance/finance.service.ts
  src/finance/types.ts
  src/finance/utils.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: yahoo symbol field name
  data/sp500.csv
  src/finance/finance.service.ts
  src/finance/types.ts
  src/finance/utils.ts
Due: prettier --write, import-sort --write, eslint --fix

ci: add codeql analysis
  .github/workflows/codeql-analysis.yml
Due: prettier --write

fix: express types
  src/global.d.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: remove legcy config
  config/db-config.js
  config/env.js
  config/index.js
Due: prettier --write, import-sort --write, eslint --fix

chore: fix a typo
  scripts/heroku-build.sh
Due: none

feat: setup redis with config & docker-comopse
  .env.sample
  docker-compose.yml
  src/config/config.env.ts
  src/config/index.ts
  src/config/schema.ts
  src/finance/finance.module.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: stock info utils
  src/finance/finance.service.ts
  src/finance/utils.ts
Due: prettier --write, import-sort --write, eslint --fix

test: add test for utils
  src/finance/__tests__/getTickerSector.spec.ts
Due: prettier --write, import-sort --write, eslint --fix

chore(lint): no unused vars
  .eslintrc.yml
  src/auth/auth.service.ts
  src/finance/finance.service.ts
  src/one/one.controller.spec.ts
  src/user/user.service.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: redis prod url config
  src/config/config.env.ts
  src/config/schema.ts
  src/finance/finance.module.ts
Due: prettier --write, import-sort --write, eslint --fix
